@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
   
:root {
    --primary-color: #5992b6;
    --background-color: #fafafa;
    --font-color: #222;
    --accent-color: #27a3f0;
    --link-color: #ad7623;
    --header-text-color: white;
}

body {
    font-family: Newsreader, sans-serif;
    line-height: 1.6;
    color: var(--font-color);
    background-color: var(--background-color);
}

body.dark-mode {
    --primary-color: #0f3b57;
    --background-color: #444444;
    --font-color: #fafafa;
    --link-color: #ecbb70;
}

a {
    color: var(--link-color);
}

header {
    background-color: var(--primary-color);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--header-text-color);
    justify-content: flex-end;
}

header > a {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border: 5px solid var(--primary-color);
    padding: 5px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}