@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
   
body {
    font-family: Newsreader, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #fafafa;
}

a {
    color: #1a5276;
}

header {
    background-color: #5992b6;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    justify-content: flex-end;
}

header > a {
    font-size: 24px;
}

nav {
    display: flex;
    gap: 20px;
}